<!-- About Section -->

<section id="about"> 
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">

      <!-- Left Column: Background -->
      <div class="col-md-6">
        <h3>Background</h3>
        <h4>Education</h4>
        <ul>
          <li>PhD in Experimental & Clinical Psychology, [Utrecht University], [2025]</li>
          <li>MSc in Clinical & Cognitive Neuroscience, [Maastricht University], [2019]</li>
          <li>BSc in Biology & Neuroscience, [University College Utrecht], [2016]</li>
        </ul>

        <h4>Experience</h4>
        <ul>
          <li> Women's Health Consultant, [Freelance]</li>
          <li> Psychologist, [azM Herstelzorg - rehabilitation clinic, Maastricht]</li>
        </ul>
      </div>

      <!-- Right Column: Current Availability -->
      <div class="col-md-6">
        <h3>Available For</h3>
        <p>I am currently available to collaborate with:</p>
        <ul>
          <li><strong>Research Institutes</strong> looking for postdoctoral fellows in the field of psychoneuroendocrinology or female (mental) health </li>
          <li><strong>Startups</strong> looking to integrate female-specific psychological or hormonal insights into their product or service</li>
          <li><strong>Healthcare teams</strong> seeking workshops or consulting on mental health, sex differences, and the influence of (sex) hormones on etiology and treatment of mental health disorders </li>
          <li><strong>Organizations & companies</strong> interested in evidence-based training or workshops on the influence of (sex) hormones at work. </li>
        </ul>
        <p>If you're looking for an expert who can translate complex science into accessible insights — let's connect.</p>
        <a href="#contact" class="btn btn-outline btn-lg">Contact Me</a>
      </div>

    </div>
  </div>
</section>


