<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p> I’m a researcher and science communicator with a focus on hormones, emotion, and mental health 
        — especially in relation to gender and the body. My work bridges academic research and real-world impact, 
        making complex science accessible and actionable.</p>
      </div>
      <div class="col-lg-4">
        <p>I’m available for consulting, workshops, and webinars with industry partners, healthcare organizations, and startups. 
          Whether you're building a product, designing a wellbeing strategy, or educating teams — I help translate hormonal and psychological science 
          into meaningful insights and tools.</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>

