<section id="media">
  <div class="container">
    <h2 class="text-center">Media</h2>
    <div class="media-grid">
      <div class="media-card">
        <h3>Articles</h3>
        <ul>
          <li><a href="https://www.trouw.nl/zorg/de-kluts-kwijt-door-de-anticonceptiepil-dat-overkomt-maar-heel-weinig-vrouwen%7Eb068a360/">Newspaper Article "Trouw" </a></li>
          <li><a href="https://www.parool.nl/nederland/kritiek-op-anticonceptiepil-terecht-erkenning-voor-effect-op-stemming-blijft-nodig-maar-reden-om-te-alarmeren-is-er-niet~bb4bc701/?referrer=https%3A%2F%2Fwww.linkedin.com%2F">Newspaper Article "het Parool"</a></li>
        </ul>
      </div>

      <div class="media-card">
        <h3>Podcasts & Lectures</h3>
        <ul>
          <li><a href="https://news.universiteitvannederland.nl/237935-bloody-science-waarom-we-nog-zo-weinig-weten-over-menstruatie">
            Podcast Universiteit van Nederland</a></li>
          <li><a href="https://www.sg.uu.nl/video/2021/09/menstruatie">
            Public Lecture 'Studium Generale UU'</a></li>
        </ul>
      </div>

      <div class="media-card">
        <h3>Radio & TV</h3>
        <ul>
          <li><a href="https://pointer.kro-ncrv.nl/tiktok-vol-valse-claims-over-hormonale-anticonceptie-je-wordt-niet-onvruchtbaar-van-de-pil">
            KRO-NCRV Pointer Checkt </a></li>
          <li><a href="https://www.nporadio1.nl/nieuws/achtergrond/238e2baf-8f45-463e-afd7-d37b5932d005/anticonceptiepil-heeft-effect-op-hersenen-en-daar-weten-mensen-niet-zoveel-vanaf">
            NPO Radio 1 </a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
