<section id="portfolio">
  <div class="container">
    <h2 class="text-center">Projects & Consulting</h2>
    <hr class="star-primary">
    <div class="row">

      <!-- Workshops -->
      <div class="col-sm-4 portfolio-item">
        <a href="#modal-workshops" class="portfolio-link" data-toggle="modal">
          <div class="caption text-center">
            <div class="caption-content">
              <i class="fas fa-chalkboard-teacher fa-3x"></i>
              <h4>Workshops</h4>
            </div>
          </div>
        </a>
      </div>

      <!-- Webinars -->
      <div class="col-sm-4 portfolio-item">
        <a href="#modal-webinars" class="portfolio-link" data-toggle="modal">
          <div class="caption text-center">
            <div class="caption-content">
              <i class="fas fa-video fa-3x"></i>
              <h4>Webinars</h4>
            </div>
          </div>
        </a>
      </div>

      <!-- Science Writing -->
      <div class="col-sm-4 portfolio-item">
        <a href="#modal-writing" class="portfolio-link" data-toggle="modal">
          <div class="caption text-center">
            <div class="caption-content">
              <i class="fas fa-pen-nib fa-3x"></i>
              <h4>Science Writing</h4>
            </div>
          </div>
        </a>
      </div>

      <!-- Consulting -->
      <div class="col-sm-4 portfolio-item">
        <a href="#modal-consulting" class="portfolio-link" data-toggle="modal">
          <div class="caption text-center">
            <div class="caption-content">
              <i class="fas fa-user-tie fa-3x"></i>
              <h4>Consulting</h4>
            </div>
          </div>
        </a>
      </div>

      <!-- Lectures -->
      <div class="col-sm-4 portfolio-item">
        <a href="#modal-lectures" class="portfolio-link" data-toggle="modal">
          <div class="caption text-center">
            <div class="caption-content">
              <i class="fas fa-microphone-alt fa-3x"></i>
              <h4>Lectures</h4>
            </div>
          </div>
        </a>
      </div>

    </div>
  </div>
</section>
