<section id="projects">
  <div class="container">
    <h2 class="text-center">Projects & Consulting</h2>
    <ul class="text-left">
      <li>
        <strong>Workshop on Hormones at Work</strong><br>
        Delivered for Strategy&, part of the PWC network (March 2025)
      </li>
      <li>
        <strong>Webinar on the Menstrual Cycle, Hormonal Contraceptives, and Stress </strong><br>
        Delivered for The Female Leadership Institute (March 2025)
      </li> 
      <li>
        <strong> Science Consultant for online knowledgebank </strong><br>
        Delivered for Women Empowerment @ Work (Dec 2024)
      </li>
      <li>
        <strong> Science writer on the menstrual cycle, brain, and emotions </strong><br>
        Delivered for the menstrual health app Clue (Aug 2024)
      </li>
      <!-- Add more here -->
    </ul>
  </div>
</section>
