<section id="research">
  <div class="container">
    <h2 class="text-center">Research</h2>
    <ul class="text-left">
      <li>
        <strong>28 days later: A prospective daily study on psychological well-being across the menstrual cycle and the effects of hormones and oral contraceptives</strong><br>
        Using a daily diary study, we found signs of reduced emotional variability in OC users compared to those with a natural cycle over the course of 28 days. For NC participants, effects of their salivary levels of estrogen, progesterone, and testosterone changed throughout their cycle and differed per well-being domain, with progesterone playing a leading role. 
        <a href="https://doi.org/10.1017/S003329172400357X "_blank">Read more</a>
      </li>
     <li>
        <strong>Emotion and birth control: Emotion regulation ERPs differ based on menstrual cycle phase and hormonal contraceptive use</strong><br>
        Using an experimental emotion regulatino paradigm, we found EEG activity patterns indicative of reduced emotion regulation in the luteal phase (compared to the follicular phase) for those reporting high PMS symptoms, and lowest emotion regulation relevant frontal activity in OC users. 
        <a href="https://doi.org/10.1016/j.psyneuen.2024.107174" target="_blank">Read more</a>
      </li>
      <li>
        <strong>Contraceptives and conditioning: Different profiles of fear and expectancy ratings during fear conditioning and extinction according to menstrual cycle phase and hormonal contraceptive use </strong><br>
        We found that those using IUDs and those in the luteal phase of their menstrual cycle showed signs of overgeneralizing fear to safety cues compared to OC users and participants in the follicular phase of their cycle. 
        An in-depth study on psychological effects of hormonal birth control.
        <a href="https://pubmed.ncbi.nlm.nih.gov/39667429/" target="_blank">Read more</a>
      </li>
      <li>
        <strong>HStable Anxiety and Depression Trajectories in Late Adolescence for Oral Contraceptive Users</strong><br>
        Whereas adolescent girls without OC use showed an increase in depression and anxiety symptoms, those who used OCs during their teen years did not show this increase. Wheter this stabilized, or blunted, trajectory is reflective of a protective effect or interjects with normative development needs to be researched further.
        <a href="https://doi.org/10.3389/fpsyt.2022.799470" target="_blank">Read more</a>
      </li>
      <!-- Add more here -->
    </ul>
  </div>
</section>
