<section id="research">
  <div class="container">
    <h2 class="text-center">Research</h2>

    <li class="research-item" style="list-style: none;">
      <a href="https://research-portal.uu.nl/en/publications/hormone-heroines-the-menstrual-cycle-hormonal-contraception-and-e" target="_blank" class="cover-link">
      <img src="img/thesis-cover.jpg"
           alt="Thesis Cover"
           class="img-responsive thesis-cover"
           width="150" />
    </a>
    <div class="research-info">
      <h3>Hormone Heroines
        <span class="meta">– PhD dissertation, Utrecht University, 2025</span>
      </h3>
      <p><em>Click the cover to view/download the PDF.</em></p>
    </div>
  </div>
</li>

     <div class="research-item">
       <h3> 28 days later
         <span class="meta">– Psychological Medicine, 2024</span>
       </h3>
       <p>Using a daily diary study, we found signs of reduced emotional variability in OC users compared to those with a natural cycle over 28 days. Hormonal fluctuations—particularly progesterone—played a key role in shaping well-being across domains.</p>
       <a href="https://doi.org/10.1017/S003329172400357X" target="_blank">Read more</a>
     </div>

      <div class="research-item">
        <h3>Emotion and Birth Control
          <span class="meta">– Psychoneuroendocrinology, 2024</span>
        </h3>
        <p>Using an emotion regulation ERP paradigm, we found reduced frontal activity in the luteal phase among those with PMS symptoms, and lowest emotion regulation markers in OC users.</p>
        <a href="https://doi.org/10.1016/j.psyneuen.2024.107174" target="_blank">Read more</a>
      </div>

      <div class="research-item">
        <h3>Contraceptives and Conditioning
        <span class="meta">– Biological Psychology, 2025</span>
        </h3>
        <p>IUD users and luteal-phase participants overgeneralized fear to safety cues during conditioning compared to OC users and follicular-phase participants.</p>
        <a href="https://pubmed.ncbi.nlm.nih.gov/39667429/" target="_blank">Read more</a>
      </div>

      <div class="research-item">
        <h3>Stable Anxiety & Depression in Adolescents
        <span class="meta">– Front. Psychiatry, 2022</span>
        </h3>
        <p>Adolescent girls using OCs showed more stable symptoms of depression and anxiety than non-users. Whether this reflects protection or interference with development is still being studied.</p>
        <a href="https://doi.org/10.3389/fpsyt.2022.799470" target="_blank">Read more</a>
      </div>

    </div>
  </div>
</section>
